
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Backend/node_modules
Frontend/node_modules

Backend/dist
Backend/dist-ssr
Frontend/dist
Frontend/dist-ssr
dist-ssr

.env
.env.local
.env.*.local
Backend/.env
Frontend/.env

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Thumbs.db

*.tsbuildinfo

backend/uploads/
backend/logs/
*.local